@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #495057;
  background: linear-gradient(#141e30, #243b55);
  overflow: hidden;
}
body.lock {
  overflow: auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  margin: 75px;
}
.wrapper__container {
  background-color: #fff;
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers__title-big {
  font-size: 32px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 50px;
  font-weight: 300;
  line-height: 46px;
}
.numbers__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 350px;
}
.numbers__column {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 24px;
}
.numbers__items-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.numbers__items {
  display: flex;
  gap: 30px;
}
.numbers__content p:not(:last-child) {
  margin-bottom: 5px;
}
.numbers__title {
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.item__input {
  padding: 15px;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  transition: all 0.3s ease 0s;
}
.item__input:focus {
  box-shadow: 0px 0px 3px 0px #666;
}
.item__btn {
  padding: 8px 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  border: 1px solid black;
  align-self: start;
  transition: all 0.3s ease 0s;
}
.item__btn:hover {
  background-color: #a7a7a7;
  color: #fff;
}
.item__out {
  color: red;
}